<nav class="navbar navbar-expand-lg navbar-light bg">
  <a class="navbar-brand icon ms-1" routerLink="/"> </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLink="/home" routerLinkActive="desktop-active">
        <a class="nav-link fw-bold">Home</a>
      </li>
      <li
        class="nav-item"
        routerLink="/datasets"
        routerLinkActive="desktop-active"
      >
        <a class="nav-link fw-bold">Datasets</a>
      </li>
      <li
        class="nav-item"
        routerLink="/go-network-page"
        routerLinkActive="desktop-active"
      >
        <a class="nav-link fw-bold">Go Enrichment Networks</a>
      </li>
      <li
        class="nav-item"
        [matMenuTriggerFor]="toolsMenu"
        routerLinkActive="desktop-active"
      >
        <a class="nav-link fw-bold">Tools</a>
      </li>
    </ul>
  </div>
</nav>

<mat-menu #toolsMenu class="mat-menu-content">
  <a
    mat-menu-item
    routerLink="/blast-page"
    routerLinkActive="desktop-active-menu-item"
    class="menu-item"
    >Blast</a
  >
  <a
    mat-menu-item
    routerLink="/glmol-page"
    routerLinkActive="desktop-active-menu-item"
    class="menu-item"
    >3D Structure</a
  >
  <a
    mat-menu-item
    routerLink="/pathway-viewer-page"
    routerLinkActive="desktop-active-menu-item"
    class="menu-item"
    >Pathway Viewer</a
  >
</mat-menu>
