<div class="container-fluid">
  <div class="py-3 bg">
    <h5 class="title">
      The comprehensive platform for plant fat relatedgenes, protiens and
      metabolism
    </h5>
    <div class="input-group py-3">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <button
        type="button"
        class="btn btn-outline-primary"
        data-mdb-ripple-init
      >
        search
      </button>
    </div>
  </div>
</div>
