<div class="page-title-bar">
    <p class="page-title">Aralip Data</p>
</div>
<mat-card id="base">
    <div class="left-menu">
        <a class="menu active" [class.active]='this.page == "pathways"' (click)='changePage("pathways")'>Pathways</a>
        <!-- <div *ngIf='this.page === "pathways" || this.page === "2" || this.page === "3" || this.page === "4" || this.page === "5" || this.page === "6" || this.page === "7" || this.page === "8" 
        || this.page === "9" || this.page === "10" || this.page === "11" || this.page === "12" || this.page === "13" 
        || this.page === "14" || this.page === "15" || this.page === "16" || this.page === "17"|| this.page === "18" 
        || this.page === "19" || this.page === "20" || this.page === "21"|| this.page === "22" || this.page === "23" || this.page === "24"'> -->
        <a class="submenu" [class.subactive]='this.page == "2"' (click)='changePage("2")'>Fatty Acid Synth</a>
        <a class="submenu" [class.subactive]='this.page == "3"' (click)='changePage("3")'>Plast FAE & Desat</a>
        <a class="submenu" [class.subactive]='this.page == "4"' (click)='changePage("4")'>Prok Gal/Sulpho I</a>
        <a class="submenu" [class.subactive]='this.page == "5"' (click)='changePage("5")'>Prok Gal/Sulpho II</a>
        <a class="submenu" [class.subactive]='this.page == "6"' (click)='changePage("6")'>Prok Gal/Sulpho II</a>
        <a class="submenu" [class.subactive]='this.page == "7"' (click)='changePage("7")'>TAG Synthesis</a>
        <a class="submenu" [class.subactive]='this.page == "8"' (click)='changePage("8")'>Euk Phospholipid</a>
        <a class="submenu" [class.subactive]='this.page == "9"' (click)='changePage("9")'>TAG Degradation</a>
        <a class="submenu" [class.subactive]='this.page == "10"' (click)='changePage("10")'>FA Elong & Wax</a>
        <a class="submenu" [class.subactive]='this.page == "11"' (click)='changePage("11")'>Sphingolipid I</a>
        <a class="submenu" [class.subactive]='this.page == "12"' (click)='changePage("12")'>Sphingolipid II</a>
        <a class="submenu" [class.subactive]='this.page == "13"' (click)='changePage("13")'>Mito FAS & Lipoic</a>
        <a class="submenu" [class.subactive]='this.page == "14"' (click)='changePage("14")'>Mito Phospholipid</a>
        <a class="submenu" [class.subactive]='this.page == "15"' (click)='changePage("15")'>Mito LipoPolySach</a>
        <a class="submenu" [class.subactive]='this.page == "16"' (click)='changePage("16")'>Trafficking</a>
        <a class="submenu" [class.subactive]='this.page == "17"' (click)='changePage("17")'>Cutin I</a>
        <a class="submenu" [class.subactive]='this.page == "18"' (click)='changePage("18")'>Cutin II</a>
        <a class="submenu" [class.subactive]='this.page == "19"' (click)='changePage("19")'>Suberin I</a>
        <a class="submenu" [class.subactive]='this.page == "20"' (click)='changePage("20")'>Suberin II</a>
        <a class="submenu" [class.subactive]='this.page == "21"' (click)='changePage("21")'>Suberin III</a>
        <a class="submenu" [class.subactive]='this.page == "22"' (click)='changePage("22")'>Oxylipin I</a>
        <a class="submenu" [class.subactive]='this.page == "23"' (click)='changePage("23")'>Oxylipin II</a>
        <a class="submenu" [class.subactive]='this.page == "24"' (click)='changePage("24")'>Signaling</a>
        <!-- </div> -->
        <a class="menu" [class.active]='this.page == "enzyme"' (click)='changePage("enzyme")'>Enzyme/Protein<br>Summary</a>
        <a class="menu" [class.active]='this.page == "loci-summary"' (click)='changePage("loci-summary")'>Loci Summary</a>
        <a class="menu" [class.active]='this.page === "structure" || this.page === "fatty" || this.page === "phospholipids" || this.page === "glycolipids" || this.page === "main" || this.page === "sphingolipid" || this.page === "acc" || this.page === "pdc"' (click)='changePage("fatty")'>Structures & Schemas</a>
        <div *ngIf='this.page === "structure" || this.page === "fatty" || this.page === "phospholipids" || this.page === "glycolipids" || this.page === "main" || this.page === "sphingolipid" || this.page === "acc" || this.page === "pdc"'>
            <a class="submenu" [class.subactive]='this.page == "fatty"' (click)='changePage("fatty")'>Fatty Acids</a>
            <a class="submenu" [class.subactive]='this.page == "phospholipids"' (click)='changePage("phospholipids")'>Phospholipids</a>
            <a class="submenu" [class.subactive]='this.page == "glycolipids"' (click)='changePage("glycolipids")'>Glycolipids</a>
            <a class="submenu" [class.subactive]='this.page == "main"' (click)='changePage("main")'>Main lipids</a>
            <a class="submenu" [class.subactive]='this.page == "sphingolipid"' (click)='changePage("sphingolipid")'>Sphingolipid</a>
            <a class="submenu" [class.subactive]='this.page == "acc"' (click)='changePage("acc")'>ACC Schema</a>
            <a class="submenu" [class.subactive]='this.page == "pdc"' (click)='changePage("pdc")'>PDC Schema</a>
        </div>
        <a class="menu" [class.active]='this.page == "lipid"' (click)='changePage("lipid")'>Lipid method &<br>compositions</a>
        <a class="menu" [class.active]='this.page == "mutant"' (click)='changePage("mutant")'>Mutants</a>
        <a class="menu" [class.active]='this.page == "download"' (click)='changePage("download")'>Downloads</a>
        <a class="menu" [class.active]='this.page === "aralip-site" || this.page === "contributors"' (click)='changePage("aralip-site")'>About</a>
        <div *ngIf='this.page === "aralip-site" || this.page === "contributors"'>
            <a class="submenu" [class.subactive]='this.page == "aralip-site"' (click)='changePage("aralip-site")'>This Website</a>
            <a class="submenu" [class.subactive]='this.page == "contributors"' (click)='changePage("contributors")'>Contributors</a>
        </div>
        <a class="menu" [class.active]='this.page == "comments"' (click)='changePage("comments")'>Comments</a>
    </div>
    <div class="right-content-box">
        <div *ngIf='this.page == "pathways"'>
            <app-aralip-pathway-main></app-aralip-pathway-main>
        </div>
        <div *ngIf='this.page == "pathway"'>
            <app-aralip-pathway></app-aralip-pathway>
        </div>
        <div *ngIf='this.page == "enzyme"'>
            <app-enzyme-page></app-enzyme-page>
        </div>
        <div *ngIf='this.page == "loci-summary"'>
            <app-loci-summary></app-loci-summary>
        </div>
        <div *ngIf='this.page == "structure"'>
            <div class="structure-container">
                <h4 class='structure-title'>Structure Of Major Arabidopsis Fatty Acids</h4>
                <img src="/static/major_plant_fatty_acids_structures.GIF" border="=0">
            </div>
        </div>
        <div *ngIf='this.page == "lipid"'>
            <app-lipid-page></app-lipid-page>
        </div>
        <div *ngIf='this.page == "mutant"'>
            <app-mutants></app-mutants>
        </div>
        <div *ngIf='this.page == "download"'>
            <app-download></app-download>
        </div>
        <div *ngIf='this.page == "about"'>
            <app-aralip-site></app-aralip-site>
        </div>
        <div *ngIf='this.page == "comments"'>
            <app-comments></app-comments>
        </div>
        <div *ngIf='this.page == "fatty"'>
            <div class="structure-container">
                <h4 class='structure-title'>Structure Of Major Arabidopsis Fatty Acids</h4>
                <img src="/static/major_plant_fatty_acids_structures.GIF" border="=0">
            </div>
        </div>
        <div *ngIf='this.page == "phospholipids"'>
            <div class="structure-container">
                <h4 class='structure-title'>Glycolipid Head Group Structures</h4>
                <img src="/static/phospholipid_head_group_structures.GIF" border="=0">
            </div>
        </div>
        <div *ngIf='this.page == "glycolipids"'>
            <div class="structure-container">
                <h4 class='structure-title'>Phospholipid Head Group Structures</h4>
                <img src="/static/glycolipid_head_group_structures.GIF" border="=0">
            </div>
        </div>
        <div *ngIf='this.page == "main"'>
            <div class="structure-container">
                <h4 class='structure-title'>Main Classes Of Storage & Membrane Lipid Structures</h4>
                <img src="/static/main_classes_storage_and_membrane_lipid_structures.GIF" border="=0">
            </div>
        </div>
        <div *ngIf='this.page == "sphingolipid"'>
            <div class="structure-container">
                <h4 class='structure-title'>Sphingolipid Sample Structure</h4>
                <img src="/static/sphingolipid_sample_structure.GIF" border="=0">
            </div>
        </div>
        <div *ngIf='this.page == "acc"'>
            <div class="structure-container">
                <h4 class='structure-title'>Acetyl-CoA Carboxylase (multisubunits; heteromeric ) Schematic</h4>
                <p class='title'><span>Note:</span> Click on schematic for further information</p>
                <iframe src="/static/acc_structure.html" width="100%" height="700"></iframe>
            </div>
        </div>
        <div *ngIf='this.page == "pdc"'>
            <div class="structure-container">
                <h4 class='structure-title'>Pyruvate Dehydrogenase Complex Schematic</h4>
                <p class='title'><span>Note:</span> Click on schematic for further information</p>
                <iframe src="/static/pdc_structure.html" width="100%" height="700"></iframe>
            </div>
        </div>
        <div *ngIf='this.page == "aralip-site"'>
            <app-aralip-site></app-aralip-site>
        </div>
        <div *ngIf='this.page == "contributors"'>
            <app-contributors></app-contributors>
        </div>
    </div>
</mat-card>  
