@import "~src/variables.scss";

div{
  width:100%;
  text-align: center;
  /* background-color: #FCFF7B; */
}

.imageArea{
  display: flex;
  justify-content: space-between;
  margin: auto;
}


img {
  width: 80%;
}

.selector{
    margin-top: 10px;
    width: 40%;
}

mat-card.base {
  box-sizing: border-box;
  background-image: none !important;
  margin: 6% 0 0 0 !important;
  min-height: 110%;
  width: 100%;
}
