.hit-counter {
    float: right;
    margin-top: 10px;
    margin-right:10px;
    margin-left: 15px;
    margin-bottom: 10px;
    line-height: 85%;
    background-color:  #629B07;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black; // Gray shadow
    font-size: 27px;
    font-weight: bold;
    // Creating a black stroke
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
