<mat-card>
    <div style="margin-left:2%">
        <h2>Pathway Viewer</h2>
        <p>A tool for viewing pathway figures.</p>
        <mat-form-field appearance="fill" class="selector">
            <mat-label>Pathways</mat-label>
            <mat-select (selectionChange)="onChange($event.value)" [(value)]="selectedOption">
                <mat-option *ngFor="let option of pathwayOptions" [value]="option">{{ option.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="info-table">
            <mat-card class="name-card">
                <mat-card-subtitle>{{selectedTair ? selectedTair : "No component selected."}}</mat-card-subtitle>
                <mat-card-content>{{selectedDetails[0].description ? selectedDetails[0].description : "-"}}</mat-card-content>
            </mat-card>
        </div>
    
        <div [class.show]="selectedGraph" class="imageArea">
            <mat-progress-bar mode="indeterminate" *ngIf='loading' class="loading-bar"></mat-progress-bar>
            
            
    
            <div class="canvas-container">
                <canvas #canvas id="imgCanvas" 
                        [width]="img.width" 
                        [height]="img.height" 
                        >
    
                </canvas>
            </div>
        </div>
    </div>
  </mat-card>
